/*--------------------BROWSER STYLES RESET--------------------*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.list--reset {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

video {
    display: block;
}

/* also connect modern normalize */

/*--------------------APPLY MAIN FONT--------------------*/

body {
    margin: 0;
    background-color: #fff;
    color: #999999;
    font-size: 400;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------CONTAINER--------------------*/

.container {

    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------HEADER--------------------*/

.page-header {
    border-bottom: 1px solid #A1A1A1;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.nav__link {
    display: block;
    padding-top: 40px;
    padding-bottom: 39px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link--current {
    border-bottom: 2px solid #fff;
}

/*--------------------HEADER+HERO BG--------------------*/
 .header-hero-bg {
    background: linear-gradient(0deg, #00000033, rgba(0, 0, 0, 0.2)),
                url('../images/background/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #828282;
 }

 /*--------------------HERO--------------------*/
.hero {
    padding-top: 220px;
    padding-bottom: 335px;
}

.hero__label {
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);

    text-align: center;

    color: #FFFFFF;
}

.hero__title {
    text-align: center;
    margin-top: 20px;
    max-width: 829px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

    color: #FFFFFF;
}

.main-button {
    display: block;
    width: 200px;
    height: 45px;

    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border: 0;
    border-radius: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.hero .main-button {
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
}
/*--------------------APPS--------------------*/
.apps {
    padding-top: 110px;
    padding-bottom: 105px;
}

.apps__title {
    width: 739px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;

    color: #323232;
}

.apps__descr {
    width: 730px;
    margin-bottom: 116px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.apps__list {
    display: flex;
    gap: 154px;
    justify-content: flex-end;

    margin-bottom: 55px;
}

.apps__card {
    position: relative;
}

.apps__image {
    position: absolute;
    top: -55px;
    left: -127px;
}

.apps__label {
    width: 226px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}

.apps__text {
    width: 226px;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.apps .main-button {

    margin-left: auto;
    margin-right: auto;
}

.apps .main-button:hover {
    cursor: pointer;
}
/*--------------------STANDARTS--------------------*/
.standarts {
    padding-top: 100px;
    padding-bottom: 90px;
    background-color: #F6F6F8;
}

.standarts__wrapper {
    display: flex;
    align-items: center;
    gap: 121px;

    
    padding-bottom: 90px;

    border-bottom: 1px solid #E0E0E0;
}

.standarts__label {
    width: 424px;
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    
    color: #323232;
}

.standarts__text {
    width: 489px;
    margin-bottom: 42px;

    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.standarts__link {
    color: #4985FF;
}

.standarts__image {
    width: 500px;
    height: 400px;
}

.standarts__list {
    display: flex;
    gap: 100px;
    justify-content: center;

    margin-top: 70px;
}

.standarts__counter {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.standarts__count {
    font-weight: 400;
    font-size: 36px;
    line-height: calc(53/36);
    
    color: #000000;
}

.standarts__caption {
    line-height: calc(25/16);
}
/*--------------------OUR WORKS--------------------*/
.our-works {
    padding-top: 100px;
    padding-bottom: 85px;
    background: linear-gradient(180deg, rgba(95,18,208,1) 50%, rgba(255,255,255,1) 50%);
}

.our-works__wrapper {
    display: flex;
    align-items: center;
    gap: 370px;
}

.our-works__label {
    width: 540px;

    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    
    color: #FFFFFF;
}

.our-works__list {
    display: flex;

    margin-top: 70px;

    border-bottom: 1px solid #E0E0E0;
}

.our-works__title {
    margin-top: 30px;
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18);
    
    color: #000000;
}

.our-works__link {
    display: block;
    margin-top: 47px;
    margin-bottom: 85px;

    color: #4985FF;
}

.our-works__title-wrap {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18);
    
    color: #4985FF;
}
/*--------------------OUR PROJECTS--------------------*/
.our-projects {
    padding-top: 100px;
    padding-bottom: 130px;

    background-color: #F6F6F8;
}
.our-projects__label {
    width: 350px;
    margin: 0 auto;

    font-size: 36px;
    line-height: calc(53/36);
    text-align: center;
    
    color: #000000;
}
.our-projects__text {
    width: 730px;
    margin: 30px auto 0 auto;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(25/16);
    text-align: center;
    
    color: #999999;
}
.our-projects__list {
    display: flex;
    gap: 30px;

    margin-top: 50px;
    margin-bottom: 50px;
}
.main-button {
    margin: 0 auto;
}
/*--------------------OUR VIDEO--------------------*/
.our-video {
    background-image: url('../images/video-section/video-section-bg.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 570px;
    background-position: top;
}
.--decorated {
    border-bottom: 1px solid #E0E0E0;
}
.video__title {
    width: 470px;
    margin: 0px auto 30px auto;
    padding-top: 70px;

    font-size: 36px;
    line-height: calc(53/36);
    text-align: center;
    
    color: #FFFFFF;
}
.video__descr {
    width: 350px;
    margin: 0 auto;

    line-height: calc(25/16);
    text-align: center;
    
    color: #FFFFFF;
}
.our-video__wrapper {
    position: relative;
    margin-bottom: 75px;
}
.video-window {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    height: 430px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: url('../images/video-section/video-bg.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.video__button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 100px;
    
    border: 1px solid #FFFFFF;
    border-radius: 200px;

    background: transparent;

    font-weight: 500;
    line-height: calc(25/16);
    
    color: #FFFFFF;
}

.video__button:hover {
    cursor: pointer;
}

.video__button-label::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-image: url('../images/video-section/button-icon.svg');

    vertical-align: middle;
}
/*--------------------SUBSCRIBE--------------------*/
.subscribe {
    padding-top: 85px;
    padding-bottom: 85px;

    text-align: center;
}
.subscribe__label {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18);
    
    color: #000000;
}
.subscribe__caption {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: calc(25/16);
}
.subscribe__input {
    padding-left: 33px;

    width: 489px;
    height: 45px;
    
    background: #FFFFFF;
    /* #F2F2F2 */
    
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
}
.main-button--cropped {
    position: absolute;
    right: 0;

    width: 190px;
    height: 45px;
    
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);

    border: 0;
    border-radius: 0px 30px 30px 0px;

    color: #F2F2F2;

    cursor: pointer;
}
.subscribe__disclaimer {
    font-weight: 400;
    font-size: 13px;
    line-height: calc(21/13);
}

.subscribe__form {
    margin-bottom: 35px;

    display: inline-block;
    position: relative;
}

::placeholder {

    font-weight: 400;
    font-size: 13px;
    line-height: calc(21/13);
    
    color: #999999;
}
/*--------------------USEFUL-INFO--------------------*/
.useful-info {
    background-color: #F6F6F8;

    padding-top: 70px;
}
.useful-info--underlined {
    padding-bottom: 70px;
    border-bottom: 1px solid ;
}
.useful-info--row {
    display: flex;
    justify-content: space-between;
}
.contacts__label {
    margin-bottom: 35px;

    font-weight: 600;
    font-size: 18px;
    line-height: calc(22/18);
    
    color: #000000;
}
.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts__email {
    font-style: normal;
    text-decoration: none;


    font-size: 14px;
    line-height: calc(22/14);
    
    color: #999999;
}
.contacts__tel {
    font-style: normal;
    text-decoration: none;


    font-size: 14px;
    line-height: calc(22/14);
    
    color: #999999;
}
.contacts__street {
    font-style: normal;

    font-size: 14px;
    line-height: 22px;
}
.wrapper__title {
    margin-bottom: 35px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
}
.wrapper__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapper__link {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    /* grey */
    
    color: #999999;
}
/*--------------------FOOTER--------------------*/
.page-footer {
    text-align: center;
    background-color: #F6F6F8;
    padding-top: 30px;
    padding-bottom: 30px;
}